$dom: #a2c2db;
$highlight: #ffffff;

body {
	background: $dom;
	font-family: 'Raleway', sans-serif;
	color: $highlight;

	a {
		text-decoration: none;
		font-size: 1.1em;
		color: #446986;
	}
}

main {
	width: 60%;
	padding: 25px;
	margin: 45px auto;
	background: $dom;

	&:after {
		content: "";
		height: 0;
		display: block;
		clear: both;
	}
}

#content {
	float: right;
	padding: 20px 0 20px 30px;
	min-height: 300px;
	border-left: 2px solid $highlight;
	width: calc(100% - 317px);

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;

		li {
			margin-bottom: 5px;
		}

		a {
			font-weight: bold;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}